import(doParallel)
import(foreach)
import(st)
import(fdrtool)
import(parallel)
import(samr)
#importFrom(limma,
importFrom(LPE,quartile.normalize,lowess.normalize)
importFrom(DESeq,newCountDataSet)
importFrom(edgeR,calcNormFactors)
importFrom(limma,normalizeBetweenArrays)

export(GPSmle, GPSmle.default, GPSmleEst, deGPS_mRNA, newExampleData, toptags)
S3method(plot, GPSmle)
S3method(summary, GPSmle)
